---
import DefaultLayout from "../../layouts/Default.astro";
---

<DefaultLayout>
  <main class="flex flex-col sm:w-2/3 xl:w-2/5 justify-evenly">
    <article>
      <h1 class="text-2xl font-bold font-sans">Óscar Carrasco</h1>
      <section class="font-serif">
        <p class="mt-8">
          I'm a Software Engineer living in Tenerife, Canary Islands.
        </p>
        <p class="mt-4">
          I founded <a class="font-bold" href="https://railmap.systems/" target="_blank">Railmap Systems</a>, 
          and co-founded <a class="font-bold" href="https://gibarian.com/" target="_blank">Gibarian</a>.
        </p>
      </section>
    </article>
  </main>
</DefaultLayout>
