---
import DefaultLayout from "../layouts/Default.astro";
import BinaryClock from "../components/BinaryClock.svelte";
---

<DefaultLayout>
  <main class="flex flex-col sm:w-2/3 xl:w-2/5 justify-evenly">
    <article>
      <BinaryClock client:load />
    </article>
  </main>
</DefaultLayout>
