---
import DefaultLayout from "../layouts/Default.astro";
import BinaryClock from "../components/BinaryClock.svelte";
---

<DefaultLayout>
  <main class="flex justify-center">
    <BinaryClock client:load />
  </main>
</DefaultLayout>
