---
import DefaultLayout from "../layouts/Default.astro";
---

<DefaultLayout>
  <main class="flex justify-center">
    <h1 class="text-5xl">nothing to see here... for now 👀</h1>
  </main>
</DefaultLayout>
