---
import HeaderLink from './HeaderLink.astro';
import { SITE_TITLE } from '../consts';
---

<header>
	<nav>
		<h2><a href="/">{SITE_TITLE}</a></h2>
		<div>
			<HeaderLink href="/">home</HeaderLink>
			<HeaderLink href="/about">about</HeaderLink>
			<HeaderLink href="/blog">blog</HeaderLink>
		</div>
		<div>
			<a href="https://hachyderm.io/@oxcabe" target="_blank">
				<span>Mastodon</span>
			</a>
			<a href="https://github.com/oxcabe" target="_blank">
				<span>GitHub</span>
			</a>
		</div>
	</nav>
</header>
