---
import type { HTMLAttributes } from "astro/types";

type Props = HTMLAttributes<"a">;

const { href, class: className, ...props } = Astro.props;

const { pathname } = Astro.url;
const subpath = pathname.match(/[^\/]+/g);
const isActive = href === pathname || href === `/${subpath?.[0]}`;
---

<a
  class="text-lime-950 dark:text-lime-300 underline decoration-lime-800 dark:decoration-lime-300 hover:text-lime-800 hover:dark:text-stone-300 hover:no-underline"
  href={href}
  class:list={[className, { active: isActive }]}
  {...props}
>
<slot /></a>
