---
import HeaderLink from './HeaderLink.astro';
---

<header>
	<nav class="grid grid-cols-3">
		<div class="col-start-2 justify-self-center">
			<HeaderLink href="/">home</HeaderLink>
			<HeaderLink href="/about">about</HeaderLink>
			<HeaderLink href="/blog">blog</HeaderLink>
		</div>
		<div class="justify-self-end">
			<a href="https://hachyderm.io/@oxcabe" target="_blank">
				<span>Mastodon</span>
			</a>
			<a href="https://github.com/oxcabe" target="_blank">
				<span>GitHub</span>
			</a>
		</div>
	</nav>
</header>
