<svg
  xmlns="http://www.w3.org/2000/svg"
  xmlns:xlink="http://www.w3.org/1999/xlink"
  version="1.1"
  width="355px"
  height="171px"
  viewBox="-0.5 -0.5 710 342"
  ><defs></defs><g
    ><g
      ><rect
        x="0"
        y="0"
        width="290"
        height="100"
        fill="none"
        stroke="none"
        pointer-events="all"></rect></g
    ><g
      ><g transform="translate(-0.5 -0.5)"
        ><switch
          ><foreignObject
            pointer-events="none"
            width="100%"
            height="100%"
            requiredFeatures="http://www.w3.org/TR/SVG11/feature#Extensibility"
            style="overflow: visible; text-align: left;"
            ><div
              style="display: flex; align-items: unsafe center; justify-content: unsafe center; width: 1px; height: 1px; padding-top: 50px; margin-left: 145px;"
            >
              <div
                data-drawio-colors="color: rgb(0, 0, 0); "
                style="box-sizing: border-box; font-size: 0px; text-align: center;"
              >
                <div
                  style="display: inline-block; font-size: 12px; font-family: Helvetica; color: rgb(0, 0, 0); line-height: 1.2; pointer-events: all; white-space: nowrap;"
                >
                  <font face="Fira Code" style="font-size: 72px;" class="text-black dark:text-white"
                    ><b>oxcabe</b></font>
                </div>
              </div>
            </div></foreignObject
          ><text
            x="145"
            y="54"
            fill="rgb(0, 0, 0)"
            font-family="Helvetica"
            font-size="12px"
            text-anchor="middle">oxcabe</text
          ></switch
        ></g
      ></g
    ><g
      ><path
        d="M 20 77 L 97 77"
        fill="none"
        class="stroke-black dark:stroke-white"
        stroke-width="3"
        stroke-miterlimit="10"
        pointer-events="stroke"></path></g
    ><g
      ><path
        d="M 108 77 L 185 77"
        fill="none"
        class="stroke-black dark:stroke-white"
        stroke-width="3"
        stroke-miterlimit="10"
        pointer-events="stroke"></path></g
    ><g
      ><path
        d="M 197 77 L 272 77"
        fill="none"
        class="stroke-black dark:stroke-white"
        stroke-width="3"
        stroke-miterlimit="10"
        pointer-events="stroke"></path></g
    ><g
      ><path
        d="M 60 77 L 60 157 L 279.9 157"
        fill="none"
        class="stroke-black dark:stroke-white"
        stroke-width="3"
        stroke-miterlimit="10"
        pointer-events="stroke"></path><path
        d="M 286.65 157 L 277.65 161.5 L 279.9 157 L 277.65 152.5 Z"
        class="fill-black stroke-black dark:fill-white dark:stroke-white"
        stroke-width="3"
        stroke-miterlimit="10"
        pointer-events="all"></path></g
    ><g
      ><path
        d="M 145 77 L 145 237 L 359.9 237"
        fill="none"
        class="stroke-black dark:stroke-white"
        stroke-width="3"
        stroke-miterlimit="10"
        pointer-events="stroke"></path><path
        d="M 366.65 237 L 357.65 241.5 L 359.9 237 L 357.65 232.5 Z"
        class="fill-black stroke-black dark:fill-white dark:stroke-white"
        stroke-width="3"
        stroke-miterlimit="10"
        pointer-events="all"></path></g
    ><g
      ><path
        d="M 233 77 L 233 317 L 439.9 317"
        fill="none"
        class="stroke-black dark:stroke-white"
        stroke-width="3"
        stroke-miterlimit="10"
        pointer-events="stroke"></path><path
        d="M 446.65 317 L 437.65 321.5 L 439.9 317 L 437.65 312.5 Z"
        class="fill-black stroke-black dark:fill-white dark:stroke-white"
        stroke-width="3"
        stroke-miterlimit="10"
        pointer-events="all"></path></g
    ><g
      ><rect
        x="290"
        y="102"
        width="200"
        height="80"
        fill="none"
        stroke="none"
        pointer-events="all"></rect></g
    ><g
      ><g transform="translate(-0.5 -0.5)"
        ><switch
          ><foreignObject
            pointer-events="none"
            width="100%"
            height="100%"
            requiredFeatures="http://www.w3.org/TR/SVG11/feature#Extensibility"
            style="overflow: visible; text-align: left;"
            ><div
              style="display: flex; align-items: unsafe center; justify-content: unsafe flex-start; width: 1px; height: 1px; padding-top: 142px; margin-left: 292px;"
            >
              <div
                data-drawio-colors="color: rgb(0, 0, 0); "
                style="box-sizing: border-box; font-size: 0px; text-align: left;"
              >
                <div
                  style="display: inline-block; font-size: 12px; font-family: Helvetica; color: rgb(0, 0, 0); line-height: 1.2; pointer-events: all; white-space: nowrap;"
                >
                  <font style="font-size: 56px;" face="Fira Code" class="text-black dark:text-white"
                    ><b>Ós</b>car</font>
                </div>
              </div>
            </div></foreignObject
          ><text
            x="292"
            y="146"
            fill="rgb(0, 0, 0)"
            font-family="Helvetica"
            font-size="12px">Óscar</text
          ></switch
        ></g
      ></g
    ><g
      ><rect
        x="370"
        y="182"
        width="300"
        height="80"
        fill="none"
        stroke="none"
        pointer-events="all"></rect></g
    ><g
      ><g transform="translate(-0.5 -0.5)"
        ><switch
          ><foreignObject
            pointer-events="none"
            width="100%"
            height="100%"
            requiredFeatures="http://www.w3.org/TR/SVG11/feature#Extensibility"
            style="overflow: visible; text-align: left;"
            ><div
              style="display: flex; align-items: unsafe center; justify-content: unsafe flex-start; width: 1px; height: 1px; padding-top: 222px; margin-left: 372px;"
            >
              <div
                data-drawio-colors="color: rgb(0, 0, 0); "
                style="box-sizing: border-box; font-size: 0px; text-align: left;"
              >
                <div
                  style="display: inline-block; font-size: 12px; font-family: Helvetica; color: rgb(0, 0, 0); line-height: 1.2; pointer-events: all; white-space: nowrap;"
                >
                  <font style="font-size: 56px;" face="Fira Code" class="text-black dark:text-white"
                    ><b>Ca</b>rrasco</font>
                </div>
              </div>
            </div></foreignObject
          ><text
            x="372"
            y="226"
            fill="rgb(0, 0, 0)"
            font-family="Helvetica"
            font-size="12px">Carrasco</text
          ></switch
        ></g
      ></g
    ><g
      ><rect
        x="450"
        y="262"
        width="260"
        height="80"
        fill="none"
        stroke="none"
        pointer-events="all"></rect></g
    ><g
      ><g transform="translate(-0.5 -0.5)"
        ><switch
          ><foreignObject
            pointer-events="none"
            width="100%"
            height="100%"
            requiredFeatures="http://www.w3.org/TR/SVG11/feature#Extensibility"
            style="overflow: visible; text-align: left;"
            ><div
              style="display: flex; align-items: unsafe center; justify-content: unsafe flex-start; width: 1px; height: 1px; padding-top: 302px; margin-left: 452px;"
            >
              <div
                data-drawio-colors="color: rgb(0, 0, 0); "
                style="box-sizing: border-box; font-size: 0px; text-align: left;"
              >
                <div
                  style="display: inline-block; font-size: 12px; font-family: Helvetica; color: rgb(0, 0, 0); line-height: 1.2; pointer-events: all; white-space: nowrap;"
                >
                  <font style="font-size: 56px;" face="Fira Code" class="text-black dark:text-white"
                    ><b>Be</b>nítez</font>
                </div>
              </div>
            </div></foreignObject
          ><text
            x="452"
            y="306"
            fill="rgb(0, 0, 0)"
            font-family="Helvetica"
            font-size="12px">Benítez</text
          ></switch
        ></g
      ></g
    ></g
  ></svg
>
