---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.svelte";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
---

<!doctype html>
<html lang="en">
  <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  <body
    class="flex flex-col justify-between w-screen min-h-screen bg-stone-300 dark:bg-neutral-950 font-sans text-black dark:text-gray-100"
  >
    <Header />
    <div class="flex justify-center self-center w-10/12 grow my-4">
      <slot />
    </div>
    <Footer />
  </body>
</html>
