---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.svelte";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
---

<!doctype html>
<html lang="en">
  <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  <body class="flex justify-center h-screen bg-stone-300 dark:bg-neutral-950 font-mono text-black dark:text-gray-100">
    <div class="flex flex-col w-screen justify-between">
      <Header />
      <div class="self-center w-3/4">
        <slot />
      </div>
      <Footer />
    </div>
  </body>
</html>
